@media screen and (min-width: 600px)
{
    .right_column
    {
        margin-left: 380px;
        margin-right: 10px;
    }

    .left_column
    {
        float: left;
        width: 360px;
    }

    .left_column img
    {
        width: 100%;
        border: 3px solid black;
    }
}

@media screen and (max-width: 599px)
{
    .right_column
    {
        /* Чтобы не слипалось */
        margin-left: 10px;
        margin-right: 20px;
    }

    .left_column
    {
        width: 360px;
        margin: auto;
    }

    .left_column img
    {
        width: 100%;
        border: 3px solid black;
    }
}



.right_column
{
    font-size: 24px;
}

#counter_visits
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}


td:first-child
{
    background: #AFCDE7;
    color: black;
    padding: 10px 20px;
}

td
{
    width: 100px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: black;
}

td
{
    background: #D8E6F3;
}